<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Room # {{ room_id }} statistics!</title>
    <style>
        body {
            background-color: #1f1f21;
            font-family: Roboto, sans-serif;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .statistics {
            color: #e0501b;
            text-align: center;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="statistics">
    <h2>{{ message }}</h2>
</div>
</body>
</html>